{% extends "students/base.html" %}
{% block content %}
<h2>All Students</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th><th>Roll</th><th>Course</th><th>Email</th><th>Contact</th><th>City</td><th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for s in students %}
    <tr>
      <td>{{ s.name }}</td>
      <td>{{ s.roll_number }}</td>
      <td>{{ s.course }}</td>
      <td>{{ s.email }}</td>
      <td>{{ s.contact }}</td>
      <td>{{s.City}}</td>
      <td>
        <a class="btn btn-sm btn-warning" href="{% url 'edit_student' s.pk %}">Edit</a>
        <form style="display:inline" method="post" action="{% url 'delete_student' s.pk %}">
          {% csrf_token %}
          <button class="btn btn-sm btn-danger" type="submit">Delete</button>
        </form>
      </td>
    </tr>
    {% empty %}
    <tr><td colspan="6">No students found.</td></tr>
    {% endfor %}
  </tbody>
</table>

<nav>
  <ul class="pagination">
    {% if students.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ students.previous_page_number }}{% if q %}&q={{ q }}{% endif %}">Prev</a></li>
    {% endif %}
    <li class="page-item disabled"><span class="page-link">Page {{ students.number }} of {{ students.paginator.num_pages }}</span></li>
    {% if students.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ students.next_page_number }}{% if q %}&q={{ q }}{% endif %}">Next</a></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
